body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    background-color: rgb(30, 140, 0);
    flex: 1;
    height: 500px;
}


.display {
    padding: 16px;
    background-color: antiquewhite;
    width : 300px;
    margin-top: 32px;
   
}

.buttonContainer {
    display: flex;
    width: 250px;
    margin: 32px;
    flex: 1 1 0;
}

.numberButtons {
    display: flex;
    flex-wrap: wrap;
    max-height: 400px;
    flex: 1 1 0;
}

.operatorButtons {
    display: flex;
    flex-direction: column;
}

.num {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 35px;
}

.op {
    align-items: center;
    justify-content: center;
    padding: 25px 35px;
}
 .equals {
    align-items: center;
    justify-content: center;
    padding: 25px 35px;
 }